# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mariana\OneDrive\Documentos\COMPUTACION\SEMESTRE 1\POO\Primer Proyecto (Sweet Swarm)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
